{{ define "main" }}
<div id="header">

<h1>J-POP</h1>
<h2>KARAOKE class / voice training / vocal lessom</h2>
<h3>accent ,  articulation , vocalization , pitch , rhythm, stagings and more</h3>


</div>


<div id="main">

<img src="{{ .Site.BaseURL }}images/mike.webp" alt="マイクロフォン" style="width: 1198px; height: 450px; object-fit: cover; object-position: 50% 50%;">

<div id="about">
<h2>About Me</h2>

<p class="about_p"><span>Hello everyone.</span></p>

<p class="about_p"><span>I've been a voice trainer in Tokyo for 10 years.</span></p>

<p class="about_p"><span>I have taught how to sing J-POP and ANIME songs at entertainment agencies and music schools.</span></p>

<p class="about_p"><span>Recently, I also active as a singing director in recording.</span></p>

<p class="about_p"><span>As a music creator, I provide music to many artists.&nbsp;</span></p>

<p class="about_p"><span>The songs have been sung on TV and became the theme song and insert song for TV dramas and ANIME. I won the Japan Record Awards. &nbsp;</span></p>

<p class="about_p"><span>We started this project so that I can return my experience to J-POP fans all over the world.</span></p>

<p class="about_p"><span>I have taught&nbsp; from 15 to 60 years old, so please feel free to take lessons even if you are beginner!</span></p>

<p class="about_p"><span>Basically, the lessons are conducted in Japanese, but a little English can be used.</span></p>

<img src="{{ .Site.BaseURL }}images/reina.webp" alt="reina.JPG" style="width:237px;height:284px;object-fit:cover;object-position:50% 50%">
</div>
<div id="services">

<h2>Services</h2>

<div class="row">
  <div class="col-md-4">Private Lesson</div>
  <div class="col-md-4">Group Lesson (2person)</div>
  <div class="col-md-4">Group Lesson (3~6person)</div>
</div>

</div>


<div id="checks">

<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>
<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>
<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>
<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>
<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>
<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>



</div>

</div>

{{- partial "footer.html" -}}
{{ end }}



