{{ define "main" }}
<div id="header">
JAPANESE INDEX HTML

</div>


<div id="main">

<img src="https://static.wixstatic.com/media/fa40f4482e84470db90cc20c71924447.jpg/v1/fill/w_1175,h_441,al_c,q_85,enc_auto/fa40f4482e84470db90cc20c71924447.jpg" alt="マイクロフォン" style="width: 1198px; height: 450px; object-fit: cover; object-position: 50% 50%;">

<h2>About Me</h2>

<div id="comp-l2ty4m063" class="_2Hij5 _3bcaz" data-testid="richTextElement"><p class="about_p"><span style="font-size:18px;"></span></p>

<p class="about_p"><span style="font-size:18px;">Hello everyone.</span></p>

<p class="about_p"><span style="font-size:18px;">I've been a voice trainer in Tokyo for 10 years.</span></p>

<p class="about_p"><span style="font-size:18px;">I have taught how to sing J-POP and ANIME songs at entertainment agencies and music schools.</span></p>

<p class="about_p"><span style="font-size:18px;">Recently, I also active as a singing director in recording.</span></p>

<p class="about_p">&nbsp;</p>

<p class="about_p"><span style="font-size:18px;">As a music creator, I provide music to many artists.&nbsp;</span></p>

<p class="about_p"><span style="font-size:18px;">The songs have been sung on TV and became the theme song and insert song for TV dramas and ANIME. I won the Japan Record Awards. &nbsp;</span></p>

<p class="about_p">&nbsp;</p>

<p class="about_p"><span style="font-size:18px;">We started this project so that I can return my experience to J-POP fans all over the world.</span></p>

<p class="about_p">&nbsp;</p>

<p class="about_p"><span style="font-size:18px;">I have taught&nbsp; from 15 to 60 years old, so please feel free to take lessons even if you are beginner!</span></p>

<p class="about_p">&nbsp;</p>

<p class="about_p"><span style="font-size:18px;">Basically, the lessons are conducted in Japanese, but a little English can be used.</span></p>

<img src="https://static.wixstatic.com/media/e2d2ee_eb3ffb445b8f4590aa9573d94c3e267e~mv2.jpg/v1/fill/w_237,h_284,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/IMG_3639_JPG.jpg" alt="IMG_3639.JPG" style="width:237px;height:284px;object-fit:cover;object-position:50% 50%">

<div id="services">

<h2>Services</h2>

<div id="three-column">

<div class="col3">Private Lesson</div>

<div class="col3">Group Lesson (2person)</div>

<div class="col3">Group Lesson (3~6person)</div>

</div>

</div>

<div id="checks">

<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>
<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>
<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>
<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>
<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>
<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>



</div>

</div>

{{- partial "footer.html" -}}
{{ end }}



