{{ define "main" }}
<div id="header">

<h1>J-POP</h1>
<h2>KARAOKE class / voice training / vocal lessom</h2>
<h3>accent ,  articulation , vocalization , pitch , rhythm, stagings and more</h3>


</div>


<div id="main">

<img src="{{ .Site.BaseURL }}images/mike.webp" alt="マイクロフォン" style="width: 1198px; height: 450px; object-fit: cover; object-position: 50% 50%;">

<div id="about">
<h2>About Me</h2>

<p class="about_p"><span>Hello everyone.</span></p>

<p class="about_p"><span>I've been a voice trainer in Tokyo for 10 years.</span></p>

<p class="about_p"><span>I have taught how to sing J-POP and ANIME songs at entertainment agencies and music schools.</span></p>

<p class="about_p"><span>Recently, I also active as a singing director in recording.</span></p>

<p class="about_p"><span>As a music creator, I provide music to many artists.&nbsp;</span></p>

<p class="about_p"><span>The songs have been sung on TV and became the theme song and insert song for TV dramas and ANIME. I won the Japan Record Awards. &nbsp;</span></p>

<p class="about_p"><span>We started this project so that I can return my experience to J-POP fans all over the world.</span></p>

<p class="about_p"><span>I have taught&nbsp; from 15 to 60 years old, so please feel free to take lessons even if you are beginner!</span></p>

<p class="about_p"><span>Basically, the lessons are conducted in Japanese, but a little English can be used.</span></p>

<img src="{{ .Site.BaseURL }}/images/reina.webp" alt="reina.JPG" style="width:237px;height:284px;object-fit:cover;object-position:50% 50%">
</div>
<div id="services">

<h2>Services</h2>

<div class="row">
  <div class="col-md-4">
    <div class="pp">
    <img src="{{ .Site.BaseURL }}/images/private1.webp" alt="Private lesson">
    <h3>Private Lesson</h3>
    <p>1 hr 20 min</br>$150</p>
    </div></div>
    <div class="col-md-4">
    <div class="pp">
    <img src="{{ .Site.BaseURL }}/images/private2.webp" alt="Private lesson">
    <h3>Group Lesson (2person)</h3>
    <p>1 hr 20 min</br>$220</p>
    </div></div>
    <div class="col-md-4">
    <div class="pp">
    <img src="{{ .Site.BaseURL }}/images/private3.webp" alt="Private lesson">
    <h3>Group Lesson (3~6person)</h3>
    <p>1 hr 20 min</br>each person $100</p>
    </div></div>
</div>

</div>


<div id="checks">

<p class="check">CHECK 1</br>The lessons are basically conducted in Japanese, but a little English can be used.</p>
<p class="check">CHECK 2</br>Payment is by PayPal only.</p>
<p class="check">CHECK 3</br>We will use the studios in Shibuya, Shinjuku, and Ikebukuro, but please contact us if you have any requests for the area.</p>
<p class="check">CHECK 4</br>We will reserve the studio as soon as the payment is confirmed.</p>
<p class="check">CHECK 5</br>100% refund 10 days in advance (excluding transfer fee) Half price refund until 10th (excluding transfer fee) 3 days ago, no refund</p>
</div>

<div id="overview" class="container">
  <div class="row">
    <div class="col-md-2"><div class="oo"><h2>Language</h2><p>The lessons are basically conducted in Japanese, but a little English can be used.</p></div></div>
    <div class="col-md-2"><div class="oo"><h2>Payment</h2><p>The lessons are basically conducted in Japanese, but a little English can be used.</p></div></div>
    <div class="col-md-2"><div class="oo"><h2>Place</h2><p>The lessons are basically conducted in Japanese, but a little English can be used.</p></div></div>
    <div class="col-md-2"><div class="oo"><h2>Booking</h2><p>The lessons are basically conducted in Japanese, but a little English can be used.</p></div></div>
    <div class="col-md-2"><div class="oo"><h2>Cancel</h2><p>The lessons are basically conducted in Japanese, but a little English can be used.</p></div></div>
  </div>


</div>

<div id="youtube">
<iframe width="560" height="315" src="https://www.youtube.com/embed/5GQnC6UUsZw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</div>

{{- partial "footer.html" -}}
{{ end }}



